<h4 class="card-title">Hydrogauges</h4>

<div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 rounded mt-3">
  <div class="text-md-center text-xl-left mx-4">
    <i class="icon-md mdi mdi-water text-primary"></i>
  </div>
  <div class="align-self-center text-md-center text-xl-left">
    <h6 class="mb-1">Water Acidity</h6>
    <p class="text-muted mb-0">{{ phObj?.dateReadable || '-' }}</p>
  </div>
  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0 mx-4">
    <h6 class="font-weight-bold mb-0">{{ phObj?.ph || '0' }} pH</h6>
  </div>
</div>

<div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 rounded mt-3">
  <div class="text-md-center text-xl-left mx-4">
    <i class="icon-md mdi mdi-cup-water text-primary"></i>
  </div>
  <div class="align-self-center text-md-center text-xl-left">
    <h6 class="mb-1">TDS</h6>
    <p class="text-muted mb-0">{{ ppmObj?.dateReadable || '-' }}</p>
  </div>
  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0 mx-4">
    <h6 class="font-weight-bold mb-0">{{ ppmObj?.ppm || '0' }} ppm</h6>
  </div>
</div>

<div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 rounded mt-3">
  <div class="text-md-center text-xl-left mx-4">
    <i class="icon-md mdi mdi-thermometer text-primary"></i>
  </div>
  <div class="align-self-center text-md-center text-xl-left">
    <h6 class="mb-1">Temperature</h6>
    <p class="text-muted mb-0">{{ temperatureObj?.dateReadable || '-' }}</p>
  </div>
  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0 mx-4">
    <h6 class="font-weight-bold mb-0">{{ temperatureObj?.temperature || '0' }} <sup>o</sup>C</h6></div>
</div>
