<div class="card-body pb-0">
  <span class="d-flex justify-content-between">
    <h4 class="card-title text-success">Ram-Z</h4>
    <h6 class="card-title">Stock</h6>
  </span>
</div>

<div class="table-responsive" style="margin-bottom: 25px;">
  <table class="table">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Name</th>
        <th>Expired</th>
        <th class="text-right">Qty</th>
      </tr>
    </thead>
    <tbody *ngIf="stockSummary?.stocks?.length > 0; then trueBlock else falseBlock"></tbody>
  </table>
</div>

<ng-template #trueBlock>
  <tr *ngFor="let stock of stockSummary?.stocks">
    <td>{{ stock.barcode }}</td>
    <td>{{ stock.name }}</td>
    <td>{{ stock.expiredDateReadable }}</td>
    <td class="text-right">{{ stock.stock }}</td>
  </tr>
</ng-template>
<ng-template #falseBlock>
  <tr>
    <td colspan="4" class="text-center">No data available</td>
  </tr>
</ng-template>
