<div class="card-body pb-0">
  <span class="d-flex justify-content-between">
    <h4 class="card-title">Ram-Z</h4>
    <h6 class="card-title">Stock Summary</h6>
  </span>
</div>

<div class="table-responsive mb-1">
  <table class="table">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Name</th>
        <th>Expired</th>
        <th class="text-right">Qty</th>
      </tr>
    </thead>
    <tbody *ngIf="stockSummary?.stocks?.length > 0; then trueBlock else falseBlock"></tbody>
  </table>
</div>
<div class="d-flex justify-content-between" style="padding: 0 25px; margin-bottom: 28px">
  <p class="align-self-center text-muted mb-0">{{ stockSummary.pagination.startIndex || 0 }} to {{ stockSummary.pagination.endIndex || 0 }} of {{ stockSummary.pagination.total || 0 }} data</p>
  <div class="btn-group">
    <button (click)="setPageActiveAndStockSummary(stockSummary.pagination.current_page - 1)" type="button" class="btn btn-outline-secondary"><span class="fas fa-chevron-left"></span></button>
    <button (click)="setPageActiveAndStockSummary(stockSummary.pagination.current_page + 1)" type="button" class="btn btn-outline-secondary"><span class="fas fa-chevron-right"></span></button>
  </div>
</div>

<ng-template #trueBlock>
  <tr *ngFor="let stock of stockSummary?.stocks">
    <td>{{ stock.barcode }}</td>
    <td>{{ stock.name }}</td>
    <td>{{ stock.expiredDateReadable }}</td>
    <td class="text-right">{{ stock.summarize_stock }}</td>
  </tr>
</ng-template>
<ng-template #falseBlock>
  <tr>
    <td colspan="4" class="text-center">No data available</td>
  </tr>
</ng-template>
