<div class="row">
  <div class="col-md-6 grid-margin">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <app-dash-dieat></app-dash-dieat>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <app-dash-hydrogauges></app-dash-hydrogauges>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-dash-healthlink></app-dash-healthlink>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin">
    <div class="card">
      <app-dash-ramz></app-dash-ramz>
    </div>
  </div>
</div>
