<h4 class="card-title text-md-center">Calorie Deviation</h4>

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <div [ngClass]="calorieDeviation?.iconColor || 'icon-box-secondary'" class="icon">
      <span [ngClass]="calorieDeviation?.icon || 'mdi-minus'" class="mdi icon-item"></span>
    </div>
  </div>
</div>
<p class="text-center text-warning my-2">{{ calorieDeviation?.status || 'Neutral'}}</p>
<div class="d-flex justify-content-center align-items-center">
  <h2 class="mb-0 mr-2">{{ calorieDeviation?.calorieReadable || '0' }}</h2>
  <p class="mb-0 font-weight-medium">calories</p>
</div>
