<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo text-nowrap" [routerLink]="urlMenu.dashboard.link" style="color: white;">LMP IoT ITB</a>
    <a class="sidebar-brand brand-logo-mini text-nowrap" [routerLink]="urlMenu.dashboard.link" style="color: white;">IoT</a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li [ngClass]="urlMenu.dashboard.status" class="nav-item menu-items">
      <a class="nav-link" [routerLink]="urlMenu.dashboard.link">
        <span class="menu-icon">
          <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <!-- <li [ngClass]="urlMenu.dieat.status" class="nav-item menu-items">
      <a class="nav-link" [routerLink]="urlMenu.dieat.link">
        <span class="menu-icon">
          <i class="mdi mdi-food"></i>
        </span>
        <span class="menu-title">Dieat</span>
      </a>
    </li> -->
    <li [ngClass]="urlMenu.healthlink.status" class="nav-item menu-items">
      <a class="nav-link" [routerLink]="urlMenu.healthlink.link">
        <span class="menu-icon">
          <i class="text-danger mdi mdi-heart-pulse"></i>
        </span>
        <span class="menu-title">Healthlink</span>
      </a>
    </li>
    <li [ngClass]="urlMenu.hydrogauges.status" class="nav-item menu-items">
      <a class="nav-link" [routerLink]="urlMenu.hydrogauges.link">
        <span class="menu-icon">
          <i class="text-primary mdi mdi-water"></i>
        </span>
        <span class="menu-title">Hydrogauges</span>
      </a>
    </li>
    <li [ngClass]="urlMenu.ramz.status" class="nav-item menu-items">
      <a class="nav-link" [routerLink]="urlMenu.ramz.link">
        <span class="menu-icon">
          <i class="text-warning mdi mdi-arrange-bring-forward"></i>
        </span>
        <span class="menu-title">Ram-Z</span>
      </a>
    </li>
  </ul>
</nav>
