<div class="emoji__grid">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="align-self-center mb-0">43%</h3>
        <div class="icon icon-box-warning">
          <span class="fas fa-grin-tongue-squint icon-item"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="align-self-center mb-0">11%</h3>
        <div class="icon icon-box-warning">
          <span class="fas fa-smile-beam icon-item"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="align-self-center mb-0">22%</h3>
        <div class="icon icon-box-warning">
          <span class="fas fa-meh icon-item"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="align-self-center mb-0">5%</h3>
        <div class="icon icon-box-warning">
          <span class="fas fa-sad-tear icon-item"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="align-self-center mb-0">19%</h3>
        <div class="icon icon-box-warning">
          <span class="fas fa-tired icon-item"></span>
        </div>
      </div>
    </div>
  </div>
</div>
