<div class="page-header">
  <h3 class="page-title">Ram-Z</h3>
  <span class="tab__link">
    <a routerLink="/ramz" class="btn btn-warning btn-fw">Info</a>
  </span>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">

      <div class="card-body pb-0">
        <span class="d-flex justify-content-between">
          <h4 class="card-title">Stock Summary</h4>
        </span>
      </div>

      <div class="table-responsive mb-1">
        <table class="table">
          <thead>
            <tr>
              <th>Barcode</th>
              <th>Name</th>
              <th>Expired</th>
              <th class="text-right">Qty</th>
            </tr>
          </thead>
          <tbody *ngIf="stockSummary?.stocks?.length > 0; then trueBlock else falseBlock"></tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between" style="padding: 0 25px; margin-bottom: 28px">
        <p class="align-self-center text-muted mb-0">{{ stockSummary.pagination.startIndex || 0 }} to {{ stockSummary.pagination.endIndex || 0 }} of {{ stockSummary.pagination.total || 0 }} data</p>
        <div class="btn-group">
          <button (click)="setPageActiveAndStockSummary(stockSummary.pagination.current_page - 1)" type="button" class="btn btn-outline-secondary"><span class="fas fa-chevron-left"></span></button>
          <button (click)="setPageActiveAndStockSummary(stockSummary.pagination.current_page + 1)" type="button" class="btn btn-outline-secondary"><span class="fas fa-chevron-right"></span></button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    <div class="card">

      <div class="card-body pb-0">
        <span class="d-flex justify-content-between">
          <h4 class="card-title">Stock Flow</h4>
        </span>
      </div>

      <div class="table-responsive mb-1">
        <table class="table">
          <thead>
            <tr>
              <th>Barcode</th>
              <th>Name</th>
              <th>Expired</th>
              <th class="text-right">Qty</th>
              <th class="text-right">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="stock?.stocks?.length > 0; then stockTrueBlock else stockFalseBlock"></tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between" style="padding: 0 25px; margin-bottom: 28px">
        <p class="align-self-center text-muted mb-0">{{ stock?.pagination.startIndex || 0 }} to {{ stock?.pagination.endIndex || 0 }} of {{ stock?.pagination.total || 0 }} data</p>
        <div class="btn-group">
          <button (click)="setPageActiveAndStock(stock.pagination.current_page - 1)" type="button" class="btn btn-outline-secondary"><span class="fas fa-chevron-left"></span></button>
          <button (click)="setPageActiveAndStock(stock.pagination.current_page + 1)" type="button" class="btn btn-outline-secondary"><span class="fas fa-chevron-right"></span></button>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #trueBlock>
  <tr *ngFor="let stock of stockSummary?.stocks">
    <td>{{ stock.barcode }}</td>
    <td>{{ stock.name }}</td>
    <td>{{ stock.expiredDateReadable }}</td>
    <td class="text-right">{{ stock.summarize_stock }}</td>
  </tr>
</ng-template>
<ng-template #falseBlock>
  <tr>
    <td colspan="4" class="text-center">No data available</td>
  </tr>
</ng-template>

<ng-template #stockTrueBlock>
  <tr *ngFor="let stock of stock?.stocks">
    <td>{{ stock.barcode }}</td>
    <td class="td__image">
      <img [src]="stock.image_url || 'assets/images/file-icons/512/004-folder-1.png'" alt="" style="object-fit: cover">
      <span class="pl-2">{{ stock.name }}</span>
    </td>
    <td>{{ stock.expiredDateReadable }}</td>
    <td class="text-right">{{ stock.stock }}</td>
    <td class="text-right">
      <div [ngClass]="stock?.iconColor || ''" class="icon ml-auto">
        <span [ngClass]="stock?.icon || ''" class="mdi icon-item"></span>
      </div>
    </td>
  </tr>
</ng-template>
<ng-template #stockFalseBlock>
  <tr>
    <td colspan="5" class="text-center">No data available</td>
  </tr>
</ng-template>
